.App {
  text-align: center;
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px; 
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navbar */
.navbar{
  width:1435px;
  margin:0 auto;
}


/* header */
.logo{
  float:middle;
  width: 200px;
  margin-top: -4.5%;
  margin-left: 10%
}
.custom-slider{
  width: 50%; 
  margin: auto
}
.main-header{
  height: 130px;
  background-color: white;
}
.search-icon{
  float:right;
  position: relative;
  margin-left: 1.5%;
}
.search-bar{
  float:middle;
  position: absolute;;
  margin-left: 36%;
}
.dropdown{
  position: relative;
  display: inline-block;
  margin-right: -1%;
  float: right;
}
.user-icon{
  float:right;
  
  margin-left:13%;
  color: black;
  position: absolute;
    right: 30px;
    top: 10px;

}
.rs-dropdown-menu{
  position: absolute;
    right: 30px;
    top: 10px;
}
.cart-icon{
  float:right;
  position: relative;
  margin-left: 1.5%;

}

/* Profile */





/* footer deign */
.footer{
  background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.amex{
  float:right;
  position: relative;
  right: 40px;
  color: white
}
.visa{
  float:right;
  position: relative;
  right: 30px; 
  color: white

}
.mc{
  float:right;
  position: relative;
  right: 50px;
  color: white
}
.stripe{
  float:right;
  position: relative;
  right: 60px;
  color: white
}
.fb{
  float:middle;
  position: relative;
  bottom:-11px;
}
.insta{
  float:middle;
  position: relative;
  bottom:-11px;
}
.about{
  float:left;
  position: relative;
  right:-20px;
  color: white
}
.contact{
  float:left;
  position: relative;
  right:-30px;
  color: white
}
.refund{
  float:left;
  position: relative;
  right:-40px;
  color: white
}
.refund-policy{
    float:middle;
    position: relative;
}
/* CART */
.empty_cart{
  float:right;
  position: relative;
  left:80px;
  color: white
}
.cartcount{
  position: absolute;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-family: 'Monda', sans-serif;
  top: 6px;
  right: 165px;
}
.cartProductImage{
  width: 1px;
  height:100%
}
.total-card{
  margin-left: 9vw;
  margin-right: 5vw;
  background-color:FloralWhite;
  border: 0;
  margin-top: 6vw;
  width: 34vw;
  height: 38vh;
  
}
.table{
float: middle;
position: relative;
}
