
.App {
  background-color:  rgb(240, 245, 243);
    text-align: center;
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px; 
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navbar */
.navbar{
  width:1435px;
  margin:0 auto;
}

/* register */
.register{
  background-color: white;
}

/* login */
.login{
  background-color: white;
}

/* HomePage */
.carousel-item img {
  padding-top: 10px;
  font-weight: bold;
  height: 450px;
  width: 100%;
}

/* header */
.logo{
  float:middle;
  width: 200px;
  margin-top: -4%;
  margin-left: 16%
}
.custom-slider{
  width: 1000px; 
  float:middle;
  position: relative;
  margin: auto;
  /* transform: rotate(90deg); */
}
.custom-slider-details{
  float:middle;
  position: relative;
  width: 600px;
  height: 2000px;
  /* margin: auto; */
  /* transform: rotateZ(90deg); */
}
.main-header{
  height: 130px;
  background-color: white;
}
.search-icon{
  float:right;
  position: relative;
  margin-left: 1%;
  margin-top: -1%;
}
.search-bar{
  float:middle;
  position: absolute;;
  margin-left: 36%;
}
.dropdown{
  position: relative;
  display: inline-block;
  margin-right: 1%;
  width: 7%;
  float: right;
  margin-top: -1%;
}
.user-icon{
  float:right;
  margin-top: 1%;
  margin-left:10%;
  color: black;
  position: absolute;
    right: 40px;
    top: 11px;

}
.rs-dropdown-menu{
  position: absolute;
    right: 30px;
    top: 10px;
}
.cart-icon{
  float:right;
  position: relative;
  margin-left: -1%;
  margin-top: -1%;

}
/* Profile */
.profile{
  background-color: white;
}


/* homepage */
.custom-slider{
  position: absolute;
  width: 40%;
  
}
.jumbotron{
  background-image: url(https://cutt.ly/YuhmirO);
  background-repeat: no-repeat, repeat;
  background-size: cover;
  padding-top: 50px;
  font-weight: bold;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 100px;
}
.jumbotron h1{
background-color: #ffffff73;
padding: 50px;
color: black;
}
.jumbotron img{
  width: 300px;
}
.jumbotron p{
  background-color: #ffffff73;
  color: black;
  font-size: x-large;
}
.thankyoujumbo{
  background-image: url(https://cutt.ly/3ubqUPn);
  background-repeat: no-repeat, repeat;
  background-size: cover;
  padding-top: 50px;
  font-weight: bold;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 100px;
}



/* footer deign */
.footer{
  background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.amex{
  float:right;
  position: relative;
  right: 40px;
  color: white
}
.visa{
  float:right;
  position: relative;
  right: 30px; 
  color: white

}
.mc{
  float:right;
  position: relative;
  right: 50px;
  color: white
}
.stripe{
  float:right;
  position: relative;
  right: 60px;
  color: white
}
.fb{
  float:middle;
  position: relative;
  bottom:-11px;
}
.insta{
  float:middle;
  position: relative;
  bottom:-11px;
}
.about{
  float:left;
  position: relative;
  right:-20px;
  color: white
}
.contact{
  float:left;
  position: relative;
  right:-30px;
  color: white
}
.refund{
  float:left;
  position: relative;
  right:-40px;
  color: white
}
.refund-policy{
    float:middle;
    position: relative;
}
.contactpage{
  background-color: lightgray;
}


/* CART */
.empty_cart{
  float:right;
  position: relative;
  left:80px;
  color: white
}
.cartcount{
  position: absolute;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-family: 'Monda', sans-serif;
  top: 6px;
  right: 165px;
}
.cartProductImage{
  width: 1px;
  height:100%
}
.Container.cart-fullpage{
  
}
.total-card{
  margin-left: 9vw;
  margin-right: 4vw;
  background-color:white;
  border: 0;
  margin-top: 7vw;
  width: 30vw;
  height: 50vh;
  
}
.table{
float: middle;
position: relative;
margin-left: 9.5vw;
}
.subtotal{
  margin-left: 9.5vw;
}
.Breadcrumb{
  float: left;
 position: relative;
}
.checkout-button {
  float: middle;
  position: absolute;
  color: antiquewhite;
  margin-left: 9vw;
}

/* order page */
.orderItemImage {
 height: 500px;
}
.past-orders{
background-color:white ;
}

/* items */
.cardbackground{
  background-color: rgb(237, 235, 236);
  
}
.image-card:hover
{
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
  
}
.card{
  /* height: 50px; */
  width: 20vh;
}
.cardimage{
  width: 280px;
  height: 350px;
}
.details-panel{
}



/* about */
.center{
  height: 400px;
}